<app-menu-bar></app-menu-bar>
<!-- <h1>Welcome to Literary Madlibs Game</h1> -->
<div class="container">
  <div id="gameContainer">
    <div id="enterWordsRow" class="row">

      <!--Here is our regular large input-->
        <!-- <div class="form-group">
          <input class="form-control form-control-lg" type="text" placeholder=".form-control-lg" id="inputLarge">
        </div>  -->

      <!--Here is our failure case input-->
        <!-- <div class="form-group has-danger">
          <label class="form-control-label" for="inputInvalid">Invalid input</label>
          <input type="text" value="wrong value" class="form-control is-invalid" id="inputInvalid">
          <div class="invalid-feedback">Sorry, that username's taken. Try another?</div>
        </div>   -->

      <div class="form-group has-success">
        <label class="form-control-label" for="inputValid">Please enter a {{word}}</label>
        <input type="text" value="correct value" class="form-control form-control-lg is-valid" id="[(ngModel)]=word">
        <div class="valid-feedback">Success! You've done it.</div>
      </div>
      <button id="checkWord()" type="button" class="btn btn-primary btn-lg">Submit</button>
    </div>
    <div id="showStoryRow" class="row">
      <div class="jumbotron">
        <h3 class="display-3">Woo-hoo! Success!</h3>
        <p class="lead">filledStoryString</p>
        <hr class="my-4">
        <p>Click "Save" below to preserve this story for posterity and share it with your friends!</p>
        <p class="lead">
          <span><a class="btn btn-primary btn-lg" (click)=" saveNewCompleteStory()" role="button">Save</a>
            <button type="button" class="btn btn-secondary">Discard Story</button></span>
        </p>
      </div>
    </div>
    <div id="completedStorySelectRow" class="row">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th scope="col">Genre</th>
            <th scope="col">Author</th>
            <th scope="col">The "altered" text.</th>
            <th scope="col">Rating</th>
          </tr>
        </thead>
        <!-- <tbody>
          <tr *ngFor="let s of stories">
            <th scope="row">s.parentStoryGenre</th>
            <td>s.completerName</td>
            <td>s.incompleteStory</td>
            <td>s.upVoteCount</td>
          </tr>
        </tbody> -->
      </table>
    </div>
    <div id="completedStoryFullViewRow" class="row">
      <div class="jumbotron">
        <p class="lead">s.completeStory</p>
        <hr class="my-4">
        <p>Author: s.completerName Current Rating: s.upVoteCount</p>
        <p class="lead">
          <a class="btn btn-primary" (click)="saveStoryRanking()" role="button">Give A Star!</a>
        </p>
      </div>
    </div>
  </div>
</div>