<div id="globalGameContainer">
  <app-menu-bar></app-menu-bar>
  <!-- <h1>Welcome to Literary Madlibs Game</h1> -->

  <div class="container">
    <div class="row my-center">
      <div clss="col-12">
        <button id="getStart" type="button" class="btn btn-primary btn-lg" (click)='startGame()'
          [hidden]="isHiddenGetStart">Start</button>
      </div>
    </div>
    <div id="gameContainer" [hidden]="isHiddenGameContainer">
      <div class="row">
        <div class="col-12">
          <h3 class="my-big-title">Please input the words</h3>
        </div>
      </div>
      <div class="row">
        <!-- <div class="col-12">
        <p class="form-control-label">Description</p>
      </div> -->
        <div class="col-4" *ngFor="let mw of missedWords; index as i; first as isFirst; last as isLast">
          <input type="text" placeholder={{mw}} (change)="checkWord($event, i)" class="form-control form-control-lg"
            [(ngModel)]='words[i]' [ngModelOptions]="{standalone: true}" ng-required="word"
            [ngClass]="{ 'green-field':words[i]=='green', 'red-field':words[i]=='red'}"[style.background-color]="fieldColorStatus[i]" >
        </div>
      </div>
      <div class="row my-center">
        <div class="col-12">
          <button id="getComplietedStory" type="button" class="btn btn-primary btn-lg"
            (click)='saveNewCompleteStory()'>Get Story</button>
        </div>
      </div>
    </div>
    <div id="yourNewStory" class="row" [hidden]="isHiddenNewStory">
      <div class="col-12">
        <h3>Your story</h3>
        <p>{{newCompoleteStory}}</p>
      </div>
      <div class="col-12">
        <button id="restart" type="button" class="btn btn-primary btn-lg"
            (click)='restart()'>New Game</button>
      </div>
    </div>

  </div>
</div>