<div id="loginContainer">
    <div class="container">
        <div id="loginRow" class="row">
            <div id="loginDescription" class="col-6">
                <h1>Literary MadLibs</h1>
                <p class="subPhrase">Write with the best. 
                </p>
            </div>
            <div id="loginForm" class="col-5">
                <form>
                    <fieldset>
                        <div class="form-group">
                            <input type="text" class="form-control my-form-control" id="inputName"
                                placeholder="Login" [(ngModel)]='loginField' [ngModelOptions]="{standalone: true}" >
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control my-form-control" id="inputPassword"
                                placeholder="Password" [(ngModel)]='passwordField'[ngModelOptions]="{standalone: true}" >
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <!-- <button id="loginButton" type="button" class="btn btn-primary btn-lg" (click)='checkLogin()'>Login</button> -->
                                <button id="loginButton" type="button" class="btn btn-primary btn-lg" (click)='checkLogin2()'>Login</button>

                            </div>
                        </div>
                        <div id="loginShortDescription"><span>Don't have an account yet?</span></div>
                        <div class="row">
                            <div class="col-12">
                                <button id="registrationButton" type="button" class="btn btn-primary btn-lg" routerLinkActive='active' routerLink='/registration'>Create new
                                    account</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>