<div id="registrationContainer">
    <div class="container">
        <div id="registrationRow" class="row">

            <div id="registrationDescription" class="col-6">
                <h1>Literary MadLibs</h1>
                <p class="subPhrase">Please create an account with us.
                </p>
                <div class="row">
                    <div class="col-12">
                        <button id="returnToLoginButton" type="button" class="btn btn-primary btn-lg"
                            routerLinkActive='active' routerLink=''>Return to Login</button>
                    </div>
                </div>
            </div>

            <div id="registrationForm" class="col-5">
                <form>
                    <fieldset>
                        <div class="form-group">
                            <input type="text" class="form-control my-form-control" id="newInputName"
                                placeholder="New User Name" [(ngModel)]='registrationField'
                                [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control my-form-control" id="inputFirstName"
                                placeholder="Your First Name" [(ngModel)]='firstNameField'
                                [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control my-form-control" id="inputLastName"
                                placeholder="Your Last Name" [(ngModel)]='lastNameField'
                                [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control my-form-control" id="inputEmail"
                                placeholder="Your Email" [(ngModel)]='emailField' [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control my-form-control" id="inputDob"
                                placeholder="Year You Were Born" [(ngModel)]='dobField'
                                [ngModelOptions]="{standalone: true}">
                        </div>
                        <!-- <div class="form-group">
                            <input type="text" class="form-control my-form-control" id="inputPlayLevel"
                                placeholder="Play Level" [(ngModel)]='levelField'[ngModelOptions]="{standalone: true}" >
                        </div> -->

                        <!-- <div class="form-group">
                            <select (change)= "selectChangeHandler($event)" class="form-control my-form-control" placeholder="Select Options" id ="levelField" name = "levelField" [(ngModel)]='levelField'>
                                <option value="0">Option 0</option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                            </select>
                        </div> -->
                        <div class="form-group">
                            <input type="password" class="form-control my-form-control" id="inputPassword1"
                                placeholder="Requested Password" [(ngModel)]='password1Field'
                                [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control my-form-control" id="inputPassword2"
                                placeholder="Repeat Password" [(ngModel)]='password2Field'
                                [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="form-group">
                            <div class="col-12">
                                <button id="registrationButton" type="button" class="btn btn-primary btn-lg"
                                    (click)='goRegistration()'>Register</button>
                            </div>
                            <br>
                            <div class="form-group">
                                <select (change)= "selectChangeHandler($event)" class="form-control my-form-control" placeholder="Select Options" id ="levelField" name = "levelField" [(ngModel)]='levelField'>
                                    <option selected>Open this select menu</option>
                                    <option value="0">Option 0</option>
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                </select>
                            </div>
                            <br>

                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>