<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Literary Madlibs</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    <span class="nav-item">Welcome, ! Let's play!</span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a class="nav-item nav-link" routerLinkActive='active' routerLink='/game' role="button" aria-haspopup="true" aria-expanded="false">Game</a>

      <a class="nav-item nav-link" routerLinkActive='active' routerLink='/read' role="button" aria-haspopup="true" aria-expanded="false">Read Stories</a>

      <a class="nav-item nav-link" routerLinkActive='active' routerLink='/update' role="button" aria-haspopup="true" aria-expanded="false">Update Info</a>

      <a class="nav-item nav-link" routerLinkActive='active' routerLink='/logout' role="button" aria-haspopup="true" aria-expanded="false">Logout</a>
    </form>
  </div>
</nav>